
<table>
    <thead>
        <tr>
            <th>Estaciones publicas</th>
            
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.StationName}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>